h1{
    color :aqua;
}

.header{
    background-color:white;
    display:flex;
    justify-content:space-between;
}

.grid{
    background-color: aliceblue;
    display:flex;
    justify-content:space-around ;
    flex-direction: column;
}

.footer{
    display:flex;
    justify-content:flex-end;
}

h2,p{
    color:black;
    font-family: cursive;
}

.Links{
    display:flex;
    justify-content:right;
}